
@font-face {
    font-family: myFirstFont;
    src: url("Font/Exo-Regular.otf");
}

@font-face {
    font-family: myFirstFont;
    src: url("Font/Exo-SemiBold.otf");
    font-weight: bold;
}

@font-face{
    font-family: secundFont;
    src: url("Font/Exo-Black.otf");
}

a.ImageButtonLogo
{
     background: url(../MAGIC1311_LOGO.png) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

/* OVERALL ASPECT */

body {
  background-color: #0F546B;
    font-family: myFirstFont;
    font-weight: 300;
    font-size: 16px;
    color: #0D8EB7;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: secundFont;
    font-weight: 300;
    color: #D96E00;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#headerwrap{
    background: #eaeaea
}
/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

#container{
    padding-top: 20px;
    padding-bottom: 10px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02416e+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(2,65,110,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(2,65,110,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(2,65,110,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a602416e', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */



}

#howToInstallApp {
    padding-top: 20px;
    padding-bottom: 10px;
}
#renderBody{
    /*
    padding-bottom: 30px;
    padding-top:30px;

    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 4px solid #2c4c6e;

    -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);*/
}

#image_with_shadow{
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
}

#product{
    max-width: 500px;
    
    border-spacing: 50px;

    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 2px solid #2c4c6e;
}
img{
    display: block;
    max-width: 100% !important;
    max-height: auto !important;
}
    
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*new navbar design*/
.navbar-default {
  background-color: #1e2063;
  border-color: #5965a5;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #5965a5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #5965a5;
}
.navbar-default .navbar-toggle {
  border-color: #5965a5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5965a5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #5965a5;
  }
}
