
@{
    ViewBag.Title = "Registro de aplicación";
}
@if (Request.IsAuthenticated)
{
    <h2>Aquí registrará su producto <b>MAGIC1311</b> para poder activarlo en el apk y poder disfrutar su producto!</h2>

}
else{
    <b> Necesita estar logeado para registrar un producto</b>
}