
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <p>
        <h2>Here you can buy your Apps!</h2>
    </p>
    <p>
        <h4>Register to the site to register your purchases</h4>
    </p>

    <p>
        Buy the app using PayPal (for now) and receive your serials to the paypal mail ASAP, then register your serials here with your site's account!
    </p>

    <div>
        <table id="Product">
            <tr>
                <td>
                    <b>BUY ESP</b>
                    <p>
                        <img href=@Url.Content("~/Content/Images/tra_ch2.png")
                    </p>
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
</center>

