@{ Html.RenderPartial("_Layout");

    @RenderBody();
    <div>
        <center>
            <h4>Our products</h4>
            <!-- PORTFOLIO SECTION -->
            <div id="dg">
                <div class="container">
                    <div class="row centered">
                        <center><h2><b>Our works</b></h2></center>
                        <br>
                        <div class="col-lg-4">
                            <div class="tilt">
                                <a href="#"><img src="~/Content/Images/celu4.png" alt=""></a>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="tilt">
                                <a href="#"><img src="~/Content/Images/tra4.png" alt=""></a>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="tilt">
                                <a href="#"><img src="~/Content/Images/PET4.png" alt=""></a>
                            </div>
                        </div>
                    </div><!-- row -->
                </div><!-- container -->
            </div><!-- DG -->
        </center>
    </div>